.card {
  background-color: var(--color-c2);
  border: 1px solid var(--color-c4);
  border-radius: 0;
  padding: 20px;
}

.isHoverable {
  transition: background-color 150ms ease;

  @media (--hover) {
    &:hover {
      background-color: var(--color-c3);
    }
  }
}
